@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinTwo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.opsspin {
  animation: spinTwo 2s linear infinite;
}

.emoji-container {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
}

.emoji {
  position: absolute;
  font-size: 2rem;
  animation: bounce 4s infinite linear;
}

.my-component {
  display: none;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.my-component.show {
  display: block;
  opacity: 1;
}

.my-component.hide {
  display: block;
  opacity: 0;
}

.hidden-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.typing-animation {
  opacity: 1;
  visibility: visible;
  animation: typing 2s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
